PORT = 
ENTORNO = 
PERSISTENCE = 
MONGO_URL =
DB_NAME =
DB_NAME_TEST =
CLIENT_ID_GITHUB = 
CLIENT_SECRET_GITHUB = 
CALLBACK_URL_GITHUB = 
SECRET_JWT = 
SECRET_COOKIE_JWT = 

TWILIO_ACOUNT_SID = 
TWILIO_AUTH_TOKEN = 
TWILIO_PHONE = 

//Perfil Admin 
// user: admin@coder.com 
// contraseña: 1234

//Perfil Premium 
// user: premium@coder.com 
// contraseña: 1234