<h1>My cart</h1>

<table>
  <thead class="tabla">
    <tr>
      <th>Code</th>
      <th>Img</th>
      <th>Title</th>
      <th>Cantidad</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody id="template-cart">
  </tbody>
  <tfoot class="tabla">
    <tr>
      <td colspan="4">Total</td>
      <td id="template-total"></td>
    </tr>
  </tfoot>
</table>

<div class="flex-end">
  <button id="btn-purchease" class="btn-session">Comprar</button>
</div>

<div id="contenedorTicket"></div>

<script src="/static/js/cart.js"></script>