<h2>My cart</h2>

<table class="contain-cart">
  <thead class="tabla">
    <tr>
      <th>Img</th>
      <th>Title</th>
      <th>Stock</th>
      <th>Cantidad</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="template-cart">
  </tbody>
  <tfoot class="tabla">
    <tr>
      <td colspan="5">Total</td>
      <td id="template-total"></td>
    </tr>
  </tfoot>
</table>

<div class="flex-end">
  <button id="btn-purchease" class="btn-session">Comprar</button>
</div>


<script src="/static/js/cart-assets.js"></script>
<script src="/static/js/cart.js"></script>