<form
  class="displayColumn contain_input"
  action="/sent-contacto"
  method="post"
>
  <h2>Contacto</h2>

  <input
    id="nombre"
    type="text"
    name="nombre"
    placeholder="Nombre"
    class="style_input"
  />

  <input
    id="email"
    type="text"
    name="email"
    placeholder="Email"
    class="style_input"
  />

  <input
    id="telefono"
    type="number"
    name="telefono"
    placeholder="Telefono"
    min="0"
    class="style_input"
  />

  <textarea
    id="mensaje"
    type="text"
    name="mensaje"
    placeholder="Mensaje"
    class="style_input"
  /></textarea>

  <button class="btn-session" type="submit">Enviar</button>

</form>