<li><a href="/">Inicio</a></li>
<h2>Crear productos</h2>

<form action="/form-products" method="post">
  <i>Título:</i>
  <input type="text" name="title" />
  <br />
  <i>Descripción:</i>
  <input type="text" name="description" />
  <br />
  <i>Precio:</i>
  <input type="number" name="price" />
  <br />
  <i>Imagen</i>
  <input type="text" name="thumbnail" />

  <button type="submit">Enviar</button>
</form>

<hr />

<a href="/products">Productos</a>