<h2>Iniciar sesi칩n</h2>

<form class="displayColumn" action="/api/sessions/login" method="post">

  <label for="email">Email</label>
  <input id="email" type="text" name="email" placeholder="Ingresar email" />

  <label for="password">Contrase침a</label>
  <input
    id="password"
    type="password"
    name="password"
    placeholder="Ingresar password"
  />

  <button class="btn-session" type="submit">Iniciar sesi칩n</button>

  <a href="/login-github">Iniciar sesi칩n con GitHub</a>

</form>