<h2>Iniciar sesión</h2>

<form class="displayColumn" action="/api/sessions/login" method="post">

  <label for="email">Email</label>
  <input id="email" type="text" name="email" placeholder="Ingresar email" />

  <label for="password">Contraseña</label>
  <input
    id="password"
    type="password"
    name="password"
    placeholder="Ingresar password"
  />

  <button class="btn-session" type="submit">Iniciar sesión</button>

  <a href="/resetPass">Olvide mi contraseña</a>
  <a href="/login-github">Iniciar sesión con GitHub</a>

</form>