<h2>Iniciar sesión</h2>

<form class="displayColumn" action="/api/sessions/login" method="post">

  <label for="email">Email</label>
  <input id="email" type="text" name="email" placeholder="Ingresar email" />

  <label for="pass">Contraseña</label>
  <input
    id="pass"
    type="password"
    name="password"
    placeholder="Ingresar password"
  />

  <button class="btn-session" type="submit">Iniciar sesión</button>

</form>