<h2>Mi perfil</h2>

<ul>
  <li>Nombre: <span>{{first_name}}</span></li>
  <li>Apellido: <span>{{last_name}}</span></li>
  <li>Edad: <span>{{age}}</span></li>
  <li>Email: <span>{{email}}</span></li>
</ul>