<form
  class="displayColumn contain_input"
  action="/api/sessions/resetPassConfirm"
  method="post"
>
  <h2>Reestablecer contraseña</h2>

  <input
    id="email"
    type="text"
    name="email"
    placeholder="Confirmar email"
    class="style_input"
  />

  <input
    id="password"
    type="password"
    name="password"
    placeholder="Contraseña nueva"
    class="style_input"
  />

  <button class="btn-session" type="submit">Enviar</button>

</form>