<h2>Reestablecer contrase침a</h2>
<p class="parrafo-reset">Enviaremos un email a tu correo elect칩nico para
  reestablecer tu contrase침a.</p>

<form class="displayColumn" action="/sent-email" method="post">

  <label for="email">Ingres치 tu email</label>
  <input id="email" type="text" name="email" placeholder="Ingresar email" />

  <button class="btn-session" type="submit">Enviar</button>

</form>