<h2>Reestablecer contraseña</h2>
<p class="parrafo-reset">Enviaremos un email a tu casilla de correo para reestablecer tu contraseña.</p>

<form class="displayColumn contain_input" action="/sent-email" method="post">

  <label for="email">Ingresá tu email</label>
  <input
    id="email"
    type="text"
    name="email"
    placeholder="Ingresar email"
    class="style_input"
  />

  <button class="btn-session" type="submit">Enviar</button>

</form>