<h2>¡Muchas gracias por tu compra!</h2>

<div class="displayColumn contain_input">

  <h3>Resumen:</h3>

  <div id="contenedorTicket">

    <p>Orden: {{code}}</p>
    <p>Fecha: {{purchase_datetime}}</p>
    <p>Total: $ {{amount}}</p>
    <p>Comprador: {{purchaser}}</p>

  </div>

</div>
<p>Te enviamos un email con el detalle de tu compra</p>