* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Belanosima", sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #ecf0f1;
  color: #1f1722;
  overflow-x: hidden;
}

.header-content {
  font-family: "Kanit", sans-serif;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header-background {
  background-color: #fe5f50e2;
  width: 100%;
  margin: 15px;
}

.main-content {
  min-height: 500px;
  padding-top: 100px;
  margin: 0px 15px;
}

.fondo-home {
  background-image: url("https://img.freepik.com/vector-gratis/fondo-degradado-verano-videollamadas_23-2148957811.jpg?w=826&t=st=1698618842~exp=1698619442~hmac=c96a13459c3cc3ad6cba1e1fc74ca89df1030451978b64c2e28f4d962748cedd");
  height: 600px;
  width: 100%;
  background-size: cover;
}

.contain-cart {
  width: 100%;
}

.footer-content {
  width: 100%;
  padding: 5px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgb(223, 222, 222);
}
::-webkit-scrollbar-thumb {
  background: #fe5f502f;
  border-radius: 10px;
}

h2 {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.parrafo-reset {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.columna {
  color: #1f1722;
}

.tabla {
  margin-top: 10px;
  background-color: #fe5f50e2;
}

hr {
  margin: 20px 0px;
}

thead {
  background-color: #f9f9f9;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.container-chat {
  padding: 20px;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 420px;
  border: 1px solid #d3d3d38a;
  border-radius: 10px;
  font-family: sans-serif;
  margin: 5px;
  height: 250px;
}

.titulo {
  font-size: 24px;
  padding: 10px 10px 0 10px;
}

.cuerpo {
  padding: 10px;
}

img {
  padding: 20px;
  padding-left: 0px;
}

.pie {
  background: #fe5f50e2;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  text-align: center;
}

li {
  list-style: none;
  padding: 0 15px;
}

a {
  color: #1f1722;
  padding: 5px;
  text-decoration: none;
}

.pie a {
  text-decoration: none;
  color: white;
}

h1 {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9f9f9;
}

.bruju {
  margin: 8px 8px 0px 8px;
  color: #ce87ec;
}

.dialogo {
  display: flex;
  justify-content: start;
  color: #f9f9f9;
  width: 80vw;
  padding: 20px;
}

#username {
  color: white;
  margin-right: 10px;
  width: 30%;
}

#chatbox {
  color: #1f1722;
  border: 2px solid rgb(167, 167, 167);
  border-radius: 3px;
  width: 70%;
  padding: 3px;
  outline: none;
}

#chatbox:focus {
  border: 2px solid #ce87ec;
}

#logs {
  margin-top: 20px;
  background-color: #9c59b6a2;
  color: #ce87ec;
  border: 2px solid rgba(167, 167, 167, 0.795);
  border-radius: 5px;
  padding: 20px;
}

.nickname {
  color: #f9f9f9;
  margin-right: 10px;
}

#form-paginate {
  background-color: #fe5f50e2;
  display: flex;
  justify-content: space-around;
  padding: 1% 15%;
  margin-bottom: 20px;
  border-radius: 8px;
}

.btn {
  padding: 3px 20px;
  background-color: #48384e;
  color: #f9f9f9;
  border-radius: 3px;
  border: none;
}

.btn:hover {
  cursor: pointer;
  background-color: #694f72;
  transition: 0.5s;
}

.btn-session {
  margin: 10px;
  padding: 3px 20px;
  background-color: #6b4779;
  color: #f9f9f9;
  border-radius: 3px;
  border: none;
}

.btn-session:hover {
  cursor: pointer;
  background-color: #ce87ec;
  transition: 0.5s;
}

.displayColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.displayRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.Home {
  color: white;
  text-decoration: none;
}

.Home:hover {
  color: black;
  transition: 1s;
}

.campos {
  background-color: #48384e;
  padding: 5px;
}

form {
  padding-bottom: 25px;
}

.flex-end {
  width: 100%;
  display: flex;
  justify-content: end;
}
