<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My E-commerce</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Belanosima&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>

  <body>

    <div class="header-content displayRow">

      <div class="header-background displayRow">
        <div>
          <h2>BIKININFA</h2>
        </div>

        <ul class="displayRow">
          <li>
            <a class="Home" href="/"><h3>Home</h3></a>
          </li>
          <li>
            <a class="Home" href="/productos"><h3>Productos</h3></a>
          </li>
          <li>
            <a class="Home" href="/#"><h3>Contacto</h3></a>
          </li>

        </ul>

        <div class="displayRow">
          <ul class="displayRow">
            <li>
              <a href="/cart">Cart</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="/login">Iniciar sesión</a>
            </li>
            <li>
              <a href="/register">Registrarme</a>
            </li>
            <li>
              <a href="/profile">Perfil</a>
            </li>

          </ul>
        </div>
      </div>

    </div>

    <div class="main-content">
      {{{body}}}
    </div>

    <footer class="footer-content">
      <hr />

      <div class="displayRow">
        <div>
          <p>Copyright</p>
        </div>
        <li>
          <a href="/messages">Chat</a>
        </li>
      </div>
    </footer>

  </body>
</html>