<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My E-commerce</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Belanosima&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <ul class="displayRow">
      <li>
        <h3>Menú</h3>
      </li>
      <li>
        <a href="/login">Iniciar sesión</a>
      </li>
      <li>
        <a href="/register">Registrarme</a>
      </li>
      <li>
        <a href="/profile">Perfil</a>
      </li>
    </ul>
    <hr />

    {{{body}}}
  </body>
</html>